#!/bin/zsh

export EDITOR="vim"

{{ if eq .chezmoi.osRelease.id "debian" }}
  export EDITOR="code --wait"
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
  export EDITOR="code --wait"
{{ end }}
