#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Docker"

{{ if eq .chezmoi.os "darwin" }}
  install_brew_cask docker
{{ end }}

{{ if eq .chezmoi.os "linux" }}
  if ! grep -q docker /etc/group; then
    sudo addgroup --system docker
    gpasswd -a $USER docker || echo "docker password already set"
    newgrp docker || echo "docker group already added"
  fi

  install_snap docker --edge
{{ end }}

