#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Window Management"

{{ if eq .chezmoi.os "darwin" }}
  install_brew_cask rectangle
  mkdir -p ~/Library/Application\ Support/Rectangle/

  yes | cp -rf ~/.local/share/chezmoi/configs/rectangle.json ~/Library/Application\ Support/Rectangle/RectangleConfig.json
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ end }}

