#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Prerequisites"

{{ if eq .osid "darwin" }}
  install_brew curl
  install_brew make
  install_brew vim
{{ end }}

{{ if eq .osid "linux-debian" }}
  install_apt curl
  install_apt make
  install_apt vim
{{ end }}
