#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing SSH"

touch ~/.ssh/config
echo "Host *\n  AddKeysToAgent yes\n  IdentityFile ~/.ssh/id_ed25519" > ~/.ssh/config

ssh-keygen -t ed25519 -C "daniel.m.conrad@gmail.com" -f ~/.ssh/id_ed25519
eval "$(ssh-agent -s)"
ssh-add ~/.ssh/id_ed25519

log "Public SSH key displayed below to copy to GitHub"
log "----------------"
cat ~/.ssh/id_ed25519.pub
log "----------------"
