#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Docker"

{{ if eq .osid "darwin" }}
  install_brew_cask docker
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
  sudo addgroup --system docker || echo "docker group already added"
  sudo gpasswd -a $USER docker || echo "docker password already set"
  newgrp docker || echo "docker group already added"
  install_snap docker --edge
{{ end }}

