#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Terminals"

{{ if eq .chezmoi.os "darwin" }}
  install_brew_cask iterm2
  yes | cp -rf ~/.local/share/chezmoi/configs/iterm2.plist ~/Library/Preferences/com.googlecode.iterm2.plist
{{ end }}

{{ if eq .chezmoi.os "linux" }}
  install_apt gnome-tweaks
  dconf load /org/gnome/terminal/legacy/profiles:/ < ~/.local/share/chezmoi/configs/gnome.dconf
{{ end }}

