#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing ZSH"

{{ if eq .chezmoi.os "darwin" }}
  install_brew zsh
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
  install_apt zsh
{{ end }}

rm -rf ~/.oh-my-zsh

RUNZSH=no CHSH=no sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh) 2>/dev/null"

cd ~/.oh-my-zsh
git reset --hard HEAD

{{ if eq .chezmoi.os "darwin" }}
  sudo chsh -s "$(brew --prefix)/bin/zsh"
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
  sudo chsh -s "$(which zsh)"
{{ end }}

mv ~/.zshrc ~/.zshrc.oh-my-zsh-defaults
mv ~/.zshrc.pre-oh-my-zsh ~/.zshrc
