#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Apps"

{{ if eq .chezmoi.os "darwin" }}
  install_brew_cask appcleaner
  install_brew_cask balenaetcher
  install_brew_cask code
  install_brew_cask dashlane
  install_brew_cask discord
  install_brew_cask imageoptim
  install_brew_cask licecap
  install_brew_cask slack
  install_brew_cask soundsource
  install_brew_cask spotify
  install_brew_cask tableplus
{{ end }}

{{ if eq .chezmoi.os "linux" }}
  install_snap code --classic
  install_snap slack
  install_snap spotify
  install_snap transmission
{{ end }}

