#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Updating OS"

sudo echo ""

{{ if eq .chezmoi.os "darwin" }}
  defaults write com.apple.screencapture "location" -string "~/Downloads" && killall SystemUIServer
  defaults write com.apple.screencapture "show-thumbnail" -bool "false"
  defaults write com.apple.dock "mru-spaces" -bool "false"
  defaults write com.apple.dock "show-recents" -bool "false" && killall Dock
  defaults write com.google.Chrome "AppleEnableSwipeNavigateWithScrolls" -bool "false"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
  sudo apt-get update
  sudo apt-get upgrade -y
  sudo apt-get install -y curl
{{ end }}

