#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Git"

{{ if eq .osid "darwin" }}
  install_brew git
{{ end }}

{{ if eq .osid "linux-debian" }}
  install_apt git
{{ end }}

git config --global user.name "Daniel Conrad"
git config --global user.email daniel.m.conrad@gmail.com
