#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Cleaning Up"

{{ if eq .osid "darwin" }}
  brew doctor
  zsh -c "autoload -U compaudit && compaudit | xargs chmod g-w,o-w"
{{ end }}

{{ if eq .chezmoi.osRelease.id "debian" }}
{{ end }}

