#!/bin/sh

{{ include "scripts/utilities.sh" }}

log_section "Installing Package Managers"

{{ if eq .chezmoi.os "darwin" }}
  if hash brew 2>/dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh)"
  fi

  CI=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"  
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ end }}
